rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Since you're using external image URLs, these rules are not needed
    // But keeping them in case you want to use Storage in the future
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
